@use '/src/scss/abstracts/mixins' as *;

.cardTariffContentWrapperCourses {
  width: 734px;
  height: 515px;
  margin: 0 39px 32px 43px;
  @include medium {
    width: 494px;
    height: 410px;
    margin: 0 66px 38px 66px;
  }
  @include small {
    width: 270px;
    height: auto;
    margin: 0 34px 17px 34px;
  }
}