@use '/src/scss/abstracts/mixins' as *;
@use '/src/scss/abstracts/variables' as *;

.commentsSection {
  display: flex;
  flex-direction: column;
  @include large {
    @include wrapper(map-get($width, 'large'));
    margin-bottom: 200px;
  }
  @include medium {
    @include wrapper(map-get($width, 'medium'));
    margin-bottom: 150px;
  }
  @include small {
    margin-bottom: 100px;
  }
  .title {
    margin-bottom: 100px;
    font-size: 4rem;
    @include medium {
      margin-bottom: 70px;
      font-size: 3rem;
    }
    @include small {
      @include wrapper-small(map-get($padding, 'small'));
      margin-bottom: 40px;
      font-size: 2rem;
    }
  }
  .commentsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
    .medium {
      display: none;
    }
    .small {
      display: none;
    }
    @include medium {
      margin-bottom: 70px;
      .large {
        display: none;
      }
      .medium {
        display: block;
      }
      .small {
        display: none;
      }
    }
    @include small {
      display: none;
      .large {
        display: none;
      }
      .medium {
        display: none;
      }
      .small {
        display: block;
      }
    }
  }
  .commentsContainerMobile {
    display: none;
    @include small {
      display: block;
      margin-bottom: 40px;
      .large {
        display: none;
      }
      .medium {
        display: none;
      }
      .small {
        display: block;
      }
    }
  }
  .button {
    width: 348px;
    height: 55px;
    margin-left: auto;
    border: none;
    border-radius: 5px;
    background-color: #6c5ecc;
    color: #fdfcfc;
    font-size: 1.5rem;
    &:hover {
      background-color: #4437A1;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    }
    &:active {
      background-color: #40329A;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.16);
    }
    @include medium {
      width: 235px;
      font-size: 1.25rem;
    }
    @include small {
      width: 94%;
      height: 45px;
      margin: 0 3%;
      font-size: 1rem;
    }
    img {
      width: 30px;
      height: 30px;
      margin-left: 20px;
      @include medium {
        margin: 12.5px 0px 12.5px 15px;
      }
      @include small {
        width: 25px;
        height: 25px;
        margin: 10px 0px 10px 10px;
      }
    }
  }
}
