@use '/src/scss/abstracts/mixins' as *;

.listItemWrapper {
  position: relative;
  display: inline-flex;
  margin-bottom: 20px;
  @include small {
    margin-bottom: 15px;
  }
  .check {
    width: 24px;
    height: 15px;
    margin-top: 2px;
    @include small {
      width: 14px;
      height: 11px;
      margin-top: 1px;
    }
  }
  p {
    display: inline-block;
    margin-left: 20px;
    @include small {
      margin-left: 10px;
    }
  }
}