@use "/src/scss/abstracts/mixins" as *;

.input {
  display: flex;
  align-items: center;
  cursor: text;
  caret-color : #000000;

  &::before {
    content: attr(data-prefix)
  }
  
  & > span.spot {
    color: #C4C4C4;
  }
}
