@use '../abstracts/mixins';

html {
  height: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  @include mixins.font-Roboto-400;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  main {
    flex: 1 0 auto;
  }
}