@use '/src/scss/abstracts/mixins' as *;

@include large {
  .large {
    display: block;
  }
  .medium {
    display: none;
  }
  .small {
    display: none;
  }
}

@include medium {
  .large {
    display: none;
  }
  .medium {
    display: block;
  }
  .small {
    display: none;
  }
}

@include small {
  .large {
    display: none;
  }
  .medium {
    display: none;
  }
  .small {
    display: block;
  }
}

.firstRow {
  display: flex;
  gap: 80px;
  @include medium {
    gap: 66px;
  }
  @include small {
    flex-direction: column;
    gap: 30px;
  }
}

.secondRow {
  display: flex;
  gap: 72px;
  align-items: center;
  @include medium {
    gap: 61px;
  }
  @include small {
    flex-direction: column;
    gap: 37px;
  }
}

