@use '/src/scss/abstracts/mixins' as *;

@include large {
  .large {
    display: block;
  }
  .medium {
    display: none;
  }
  .small {
    display: none;
  }
}

@include medium {
  .large {
    display: none;
  }
  .medium {
    display: block;
  }
  .small {
    display: none;
  }
}

@include small {
  .large {
    display: none;
  }
  .medium {
    display: none;
  }
  .small {
    display: block;
  }
}

.firstRow {
  display: flex;
  gap: 80px;
  @include medium {
    gap: 66px;
  }
  @include small {
    flex-direction: column;
    gap: 30px;
  }
}

.secondRow {
  display: flex;
  gap: 72px;
  align-items: center;
  @include medium {
    gap: 61px;
  }
  @include small {
    flex-direction: column;
    gap: 37px;
  }
}

.img {
  position: relative;
  margin-left: auto;
  right: 20px;
  top: 18px;
  z-index: 4;
  width: 17.5px;
  height: 17.5px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  @include medium {
    right: 16px;
    top: 16px;
  }
  @include small {
    width: 19px;
    height: 19px;
    right: 8px;
    top: 8px;
  }
  img {
    width: 100%;
    height: 100%;
  }
}