@mixin font-Roboto-400 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}

@mixin font-Roboto-500 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
}

@mixin font-Roboto-700 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
}

@mixin font-Roboto-900 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
}

@mixin font-Roboto-monospace {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
}

@mixin wrapper-small ($padding) {
  padding: 0 $padding;
}

@mixin wrapper ($width) {
  width: $width;
  max-width: $width;
  margin: 0 auto;
}

@mixin large {
  @media screen and (min-width: 1920px){
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: 1366px) and (max-width: 1919px){
    @content;
  }
}

@mixin small {
  @media screen and (min-width: 360px) and (max-width: 1365px){
    @content;
  }
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin btn-normal-purple {
  border: none;
  border-radius: 5px;
  background-color: #6C5ECC;
  color: #fdfcfc;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@mixin btn-hover-purple {
  &:hover {
    background-color: #4437A1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  }
}

@mixin btn-active-purple {
  &:active {
    background-color: #40329A;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.16);
  }
}

@mixin btn-hover-black {
  &:hover {
    color: #fdfcfc;
    background-color: #2b2a2a;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  }
}

@mixin btn-active-black {
  &:active {
    color: #fdfcfc;
    background-color: #1f1e1e;
    box-shadow: inset 0px 4px 4px rgba(158, 158, 158, 0.16);
  }
}