@mixin font-Roboto-400 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}

@mixin font-Roboto-500 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
}

@mixin font-Roboto-700 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
}

@mixin font-Roboto-900 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
}

@mixin font-Roboto-monospace {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
}

@mixin wrapper-small ($padding) {
  padding: 0 $padding;
}

@mixin wrapper ($width) {
  width: $width;
  max-width: $width;
  margin: 0 auto;
  //padding: 0 $padding;
  //margin: 0 auto;
}

@mixin large {
  @media screen and (min-width: 1920px){
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: 1366px) and (max-width: 1919px){
    @content;
  }
}

@mixin x-medium {
  @media screen and (min-width: 768px)  and (max-width: 1024px) {
    @content;
  }
}

@mixin small {
  @media screen and (min-width: 360px) and (max-width: 1365px){
    @content;
  }
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}