@mixin font-Roboto-400 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}

@mixin font-Roboto-700 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
}

@mixin font-Roboto-900 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
}