@use '/src/scss/abstracts/mixins' as *;
@use '/src/scss/abstracts/variables' as *;

.questionsSection {
  @include large {
    @include wrapper(map-get($width, 'large'));
    margin-bottom: 170px;
  }
  @include medium {
    @include wrapper(map-get($width, 'medium'));
    margin-bottom: 130px;
  }
  @include small {
    @include wrapper-small(map-get($padding, 'small'));
    margin-bottom: 90px;
  }
  h2 {
    margin-bottom: 70px;
    font-size: 4rem;
    @include medium {
      margin-bottom: 40px;
      font-size: 3rem;
    }
    @include small {
      margin-bottom: 10px;
      font-size: 2rem;
    }
  }
  .questionsContainer {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    gap: 10%;
    .large {
      display: block;
    }
    .medium {
      display: none;
    }
    .small {
      display: none;
    }
    @include medium {
      display: block;
      .large {
        display: none;
      }
      .medium {
        display: block;
      }
      .small {
        display: none;
      }
    }
    @include small {
      display: block;
      .large {
        display: none;
      }
      .medium {
        display: none;
      }
      .small {
        display: block;
      }
    }
  }
}
