@use '/src/scss/abstracts/mixins' as *;
@use '/src/scss/abstracts/variables' as *;

.intro {
  display: flex;
  justify-content: space-between;
  @include large {
    @include wrapper(map-get($width, 'large'));
    margin-bottom: 200px;
  }
  @include medium {
    @include wrapper(map-get($width, 'medium'));
    margin-bottom: 150px;
  }
  @include small {
    @include wrapper-small(map-get($padding, 'small'));
    justify-content: center;
    margin-bottom: 100px;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 46%;
    @include small {
      width: 100%;
      max-width: 500px;
    }
    .title {
      margin-top: 80px;
      margin-bottom: 38px;
      font-size: 6rem;
      @include medium {
        margin-bottom: 20px;
        font-size: 4.5rem;
      }
      @include small {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 2.5rem;
      }
      span {
        color: #6c5ecc;
        @include font-Roboto-900;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
      }
    }
    .subtitle {
      width: 60%;
      margin-bottom: 80px;
      font-size: 1.75rem;
      @include medium {
        margin-bottom: 70px;
        font-size: 1.5rem;
      }
      @include small {
        width: 75%;
        margin-bottom: 40px;
        font-size: 1rem;
      }
    }
    .imageSmall {
      display: none;
      @include small {
        display: block;
        max-width: 472px;
        min-width: 340px;
        margin-bottom: 40px;
        align-self: center;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .contact {
      width: 285px;
      height: 55px;
      padding: 10px 60px;
      border: none;
      border-radius: 5px;
      background-color: #6c5ecc;
      color: #fdfcfc;
      font-size: 1.5rem;
      @include medium {
        width: 235px;
        font-size: 1.25rem;
      }
      @include small {
        width: 100%;
        min-width: 340px;
        height: 45px;
        padding: 13px 130.5px;
        font-size: 1rem;
      }
      &:hover {
        background-color: #4437a1;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
      }
      &:active {
        background-color: #40329a;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.16);
      }
    }
  }
  .image {
    width: 867px;
    height: 676px;
    @include medium {
      width: 645px;
      height: 504px;
    }
    @include small {
      display: none;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}
