@use '/src/scss/abstracts/mixins' as *;

.notFoundSection {
  display: flex;
  justify-content: center;
  height: 79.8vh;
  @include small {
    height: 90vh;
  }
  .notFoundContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65vh;
    @include small {
      height: 70vh;
    }
    .img {
      width: 377px;
      height: 200px;
      margin-bottom: 15px;
      @include medium {
        margin-bottom: 9px;
      }
      @include small {
        width: 238px;
        height: 126px;
        margin-bottom: 0px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    .text {
      margin-bottom: 90px;
      text-align: center;
      font-size: 1.75rem;
      @include medium {
        margin-bottom: 80px;
        font-size: 1.5rem;
      }
      @include small {
        margin-bottom: 54px;
        font-size: 1rem;
      }
    }
    .button {
      width: 285px;
      height: 55px;
      @include btn-normal-purple;
      @include large {
        font-size: 1.5rem;
        @include btn-hover-purple;
      }
      @include medium {
        font-size: 1.25rem;
        @include btn-hover-purple;
      }
      @include small {
        width: 340px;
        height: 45px;
        font-size: 1rem;
      }
      @include btn-active-purple;
    }
  }
}
